[submodule "public"]
	path = public
	url = https://github.com/pierreca/pierreca.github.io.git
	branch = master

[submodule "themes/hugo-shortcode-gallery"]
	path = themes/hugo-shortcode-gallery
	url = https://github.com/mfg92/hugo-shortcode-gallery
[submodule "themes/triple-hyde"]
	path = themes/triple-hyde
	url = git@github.com:derme302/triple-hyde.git
